.vscode/
backups/
crash-reports/
/data
local/
logs/
modernfix/
mods/
PCL/
saves/
showdown/
tlm_custom_pack/
usernamecache.json
patchouli_data.json
hmclversion.cfg
usercache.json
fabricloader.log
emi.json
${quickPlayPath}
rhino.local.properties
kubejs/documentation/index.html
kubejs/README.txt
kubejs/example.js
kubejs/jsconfig.json
kubejs/ores.md
enigmatic_persistence.dat
1.20.1-Forge_47.2.0-natives/
AutoTranslation/
replay_pid19912.log
1.20.1-Forge_47.2.0.json
hs_err_pid19912.log
1.20.1-Forge_47.2.0.jar
AutoTranslation/
XaeroWaypoints/
XaeroWorldMap/
XaeroWaypoints_BACKUP032021/
